footer {
    background-color: $primary-color;
    color: #f4f4f4;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include mainFont;
    @include fontSmall;
    width: 100%;
    color: #f4f4f4;
    text-align: center;


    .textorotativo {

        @include fontxxLarge;
        text-align: left;
        background-color: #0959F1;
        color: #fff;
        width: 100%;



    }

    .redes {
        @include mainFont;
        @include fontLarge;
        text-align: center;

        margin-top: 100px;


    }

    .contact-links {
        @include mainFont;
        @include fontSmall;
        color: #fff;

    }
}


@media (max-width: 631px) {
    footer {
        background-color: $primary-color;
        color: #f4f4f4;

        display: flex;
        flex-direction: column;
        justify-content: center;
        @include mainFont;
        @include fontSmall;
        width: 100%;
        color: #f4f4f4;
        text-align: center;
        padding: 30px;
        ;


        .textorotativo {

            @include fontxxLarge;
            text-align: left;
            background-color: #0959F1;
            color: #fff;
            width: 100%;



        }

        .redes {

            @include fontMedium;
            text-align: center;
            flex-direction: column;
            display: flex;
            margin-top: 50px;


        }

        .contact-links {
            @include mainFont;
            @include fontSmall;
            color: #fff;

        }
    }





}


