footer{
    background-color: $primary-color;
    color: #f4f4f4;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include mainFont;
    @include fontSmall;
    width: 100%;
    color: #f4f4f4;
    text-align: center;
    
    
    .textorotativo {

        @include fontxxLarge;
        text-align: left;
        background-color: #0959F1;
        color: #fff;
        width: 100%;
        
        
        
    }

    .redes {
        @include mainFont;
        @include fontLarge;
        text-align: center;
        width: 100%;
        margin-top: 100px;
    
    }
    
}
