
html {
    min-height: fit-content;
    overflow: scroll;
}

body{
    margin: 0;
    display: flex;
    height: fit-content;
    flex-direction: column;
}

/*
.flex-grid{
    width: 100%;
}
.column{
    background: $primary-color;
}
.column:not(:last-child){
    margin-bottom: 30px;
}
*/

/*
@media (min-width: $medium) {
    .flex-grid{
        display: flex;
        flex-direction: row;
        column-gap: 30px;
    }
    .column {
        width: 33.33%;
    }
    .column:not(:last-child) {
        margin-bottom: 0;
    }
}*/

main {
    background: #fff;
    display: flex;
   align-items: center;
   justify-content: center;
    flex-direction: column;
    padding: 30px 20px;
    margin: 0 auto;
    @media (min-width: $medium) {
        max-width: 100%;
        padding: 0px;
  }
  
  
  
  h1{
    @include fontxxLarge;
    text-align: left;
    width: 100%;
    height: fit-content;
   
   
  }
  
 }

p{

    
    
    @include mainFont;
    @include fontMedium;
    color: #fff;
    
}


.teste {

    display: flex;
    margin-top: 0;
    @include mainFont;
    @include fontSmall;
    margin: 0;
    justify-content: space-between;
    
    
}

.teste2 
{

    text-align: left;
    display: flex;
    justify-content: center;
    @include fontSmall;
    width: 100%;
    flex-grow: 1;
       
    

  
}

.teste3 
{

    text-align: end;
    display:flex;

    float: right;
    font-size: small;
    

  .p{ 
    @include fontSmall;
  } 
  
}

h2{
    @include mainFont;
    @include fontxLarge;
    
}


h3 {
    @include mainFont;
    @include fontLarge;
    color: #fff;

}










.projetowhatsapp  {
    @include mainFont;
    @include fontMedium;
}

.projetoer101 {
    @include mainFont;
    @include fontMedium;
   
}

.data{

    @include mainFont;
    @include fontSmall;
    width: 100%;
}


.footer{

    height: 0;
    padding: 0;
}

.subtitulo {
    @include mainFont;
    @include fontLargeplus;
}


.maincontactos {

    background-color:#282324;
    flex-grow: 1;
    width: 100%;
    margin: 0;
    height: 100vh;
}

.gridcontainer {

    display: grid;
    grid-template-columns: repeat(12,1fr);
    column-gap: 20px;
    margin-left: 60px;
    margin-right: 60px;
    row-gap: 20px;
    
}

.corzinha{

    color: #fff;
    grid-column: 2/5;
    grid-row: 1;
   
}

.redescontactos{
    color: #282324;
    align-items: center;
    grid-row: 6;
    grid-column: 6;

    a {
        color: #282324; 
    }
}



.animation {

 
   grid-column: 4 / span 6;
   display: flex;
   justify-content: center;
   

 


    text {
        fill: white;
    
        font-size: 22px;
        font-weight: 250;
        text-transform: uppercase;
        font-variant-ligatures: none;
        letter-spacing: 6px;
        animation: rotate 25s linear infinite;
        transform-origin: 250px 250px;
        @include mainFont;
        @include fontMedium;
      }
      
      svg{
        max-width: 400px;
      }
      
      @keyframes rotate {
        to {
          transform: rotate(360deg);
        }
      }
      
      .textcircle {
        transition: transform 1s cubic-bezier(0.65, 0, 0.35, 1);
        transform-origin: 250px 250px;
      }
      
      svg:hover .textcircle {
        transform: scale(0.5) rotate(90deg);
      }

}

.mainabout {

    background-color: #282324;
    flex-grow: 1;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction:column;
    justify-content: start;
    align-items: left;
    
    min-height: 100vh

}

.gridcontainer2 {

    display: grid;
    grid-template-columns: repeat(12,1fr);
    column-gap: 20px;
    margin-left: 60px;
    margin-right: 60px;
    row-gap: 20px;
    width: 100%;    

    
}

.franciscojanesfoto2{
    padding-top:50px;
    grid-area: 1 / 1 / 1 / span 12;
    display: flex;
    justify-content: center;

    align-items: center;
    

    
    
}

.fotografiabio{ 

width: 276px;
height: 276px;


}

#biografiaabout{
    grid-area: 2 / 3 / 3 / span 8;
    display: flex;
    justify-content:center;
}

.textodestaque{
   padding-top: 50px;
   min-width: 700px;
    @include mainFont;
    @include fontxLarge;
    
}

.descricaobio{
    @include mainFont;
    @include fontLarge;
    min-width: 700px;
    color: #0959F1;
}

.textodescritivo{
    grid-area: 3 / 3 / 4 / span 8;
    display: flex;
    justify-content:center;
    
    
}


    
    .mainaprojects {

        background-color: rgb(255, 255, 255);
        flex-grow: 1;
        width: 100%;
        margin: 0;
    }

    .gridcontainer2 {

        display: grid;
        grid-template-columns: repeat(12,1fr);
        column-gap: 20px;
        margin-left: 60px;
        margin-right: 60px;
        row-gap: 20px;
        width: 100%;    
        width: 100%;
    
        
    }

    .Projectback{
        grid-area: 1 / 1 / 3 / span 12;
        h1{ margin: 0;
            margin-top: 35px;
            }
   

    }

    .imagemprojeto12{
        
        align-items: center;
        margin: 0;
        grid-area: 3 / 3 / 4 / span 12;
        

        img{ 
            width: 100%;
        }
    }

    .mainprojects{
        background-color: #282324;
        flex-grow: 1;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: left;

    }

   
    .descricaodoprojeto1 {

    
    grid-area: 5 / 1 / 5 / span 5;
    
    h3{ 
        height: fit-content;
        
        margin-right: 0;
    }

    p{
        margin: 0;
    }
    }

    
      .rounded-button {
        width: 100%;
        height: 50px;
        border-radius: 25px;
        border: none;
        background-color: #007bff;
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
      }
      
      .rounded-button:hover {
        background-color: #0056b3;
      }
      
      .rounded-button:hover {
        background-color: #0056b3;
      }

      .caixaglobal{
        align-items: end;
        grid-area: 3 / 8 / 3 / span 5;
        p{ 
            color: #fff;
        }
      }

      .botao{
        width: 100%;
      }

      .alinhamentotestes{
        display: flex;
        justify-content: space-between;
      }

      .descricaodoprojeto2 {

    
        grid-area: 4 / 1 / 4 / span 5;
        
        h3{ 
            height: fit-content;
            
            margin-right: 0;
        }
    
        p{
            margin: 0;
        }
        }


        .Projectback2{
        grid-area: 4 / 1 / 6 / span 12;
        h1{ margin: 0;
            margin-top: 35px;
            }
   

    }

    .caixaglobal2{
        align-items: end;
        grid-area: 7 / 8 / 6 / span 5;
        p{ 
            color: #fff;
        }
      }

      .alinhamentotestes2{
        display: flex;
        justify-content: space-between;
      }
      .descricaodoprojeto2 {

    
        grid-area: 6 / 1 / 6 / span 5;
        
        h3{ 
            height: fit-content;
            
            margin-right: 0;
        }
    }

    .fundohome{
background-color: #282324;

    }
    
    .fotografia-principal {
    grid-area: 1 / 2 / 2/ span 10;
    height: 50%;
    margin-top: 300px;
}
    
    .fotografiaentrada2{
        width: 100%;
    }

   
   .aboutme-section{
    grid-area: 2 / 2 / 2/ span 11;
    display: flex;
    align-items: center;
    
   }
   
    

    .francisco-home{
        
        
        width: 100%;
    }

    .figurebio{
       
        width: 30%;
        
        
    }

    .resumo{
      
        width: 45%;
       
       
    }
    .resumotexto {

        @include mainFont;
        @include fontxLarge;
        margin-left: 35px;
       
        
       
    }


    .aboutmetexto{
       
        margin-top: 30px;
    }

    .title {

        @include mainFont;
        @include fonttituloLarge;
        width: 100%;
        margin: 0;
        
        grid-area: 1 / 2 / 1 / span 10;
        margin-top: 30px;
    
    }

    .experience{
        grid-area: 4 / 2 / 4 / span 10;
        margin-bottom: 60px;
        
    }

    .area-logo{
      
        display: flex;
        margin: 0%;
        margin-top: 30px;
        align-items: center;
        width: 50%;
        justify-content: center;

    }
.experience-content{
    display: flex;
}
    .logo{
       
        
        width: 50%;
        margin: 0;

        
    }

    .descricao-experience{
        display: flex;
        flex-direction: column;
        margin: 0%;
        margin-top: 30px;
        width: 50%;
    }
    .texto-experience{
        
        display: flex;
        align-items: center;
    
        margin: 0;
        float: right;
    }

    .experience-about{
        grid-area: 4 / 2 / 4 / span 10;
        margin-bottom: 60px;
        
    }

    .area-logo-about{
      
        display: flex;
        margin: 0%;
        margin-top: 30px;
        align-items: center;
        width: 50%;
        justify-content: center;

    }
.experience-content-about{
    display: flex;
}
    .logo-about{
       
        
        width: 50%;
        margin: 0;

        
    }

    .descricao-experience-about{
        display: flex;
        flex-direction: column;
        margin: 0%;
        margin-top: 30px;
        width: 50%;
    }
    .texto-experience-about{
        
        display: flex;
        align-items: center;
    
        margin: 0;
        float: right;
    }

    .texto-contactos{
        color: #fff;
        grid-column: 1 / span 6;

    }
.destaque-whatsapp{
    margin-top: 30px;
    grid-column: 1 / span 3;
    display: flex;
    order: 1;
    height: fit-content;
    

}
.imagem-whatsapp{
    grid-column: 7 / span 4;
    order: 1;
    height: fit-content;
    margin: 0;
    
    
    
}
.imagem-telemovel{
    width: 100%;
    
}

.challenge{
order: 2;
grid-column: 1 / span 6;
}

.area-whatsapp2{
order:3;
grid-column: 1 / span 5;
margin-top: 30px;

}

.WhyWhatsapp{
    
    grid-column: 7 / span 5; 
    order:3;

    h2{
        margin: 0;
    }
    
}

.the-process { 
    grid-column: 1 / span 12; 
    order: 4; 

    .lista{
        grid-column: 2 / span 10; 
        justify-content: space-between;
        color: #fff;

    }


    .barra {
        height: fit-content;
    }
}

.analysis{
    grid-column: 1 / span 6;

    h2{
        grid-column: 1 / span 6;
    }

    p{
        grid-column: 1 / span 6;
    }
}

