.main {
    background: $background-color;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 20px;
    max-width: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* @media (min-width: $medium) {
    .main {
    max-width: 100%;
    padding: 30px;
    }
    }
    
    @media (min-width: $large) {
    .main {
    max-width: 1130px;
    }
    }
    
    .title {
    color: $primary-color;
    }
    
    .subtitle {
    color: $primary-color;
    }

    */