@mixin mainFont {
    font-family: 'Fira Sans', 'Arial', Helvetica, sans-serif;

}
@mixin fontSSmall {
    font-size: 8px;
    line-height: 1.15;
    font-weight: 700;
    color: blue;
}

@mixin fontSmall {
    font-size: 16px;
    line-height: 1.15;
    font-weight: 700;
    color: blue;
}

@mixin fontMedium {
    font-size: 20px;
    line-height: 1.15;
    font-weight: 700;
    color: #0959F1;
}

@mixin fontLarge {
    font-size: 24px;
    line-height: 1.15;
    font-weight: 700;
    
   
}

@mixin fontLargeplus {
    font-size: 28px;
    line-height: 1.15;
    font-weight: 700;
    color: #0959F1;
}

@mixin fontxLarge {
    font-size: 36px;
    line-height: 1.15;
    font-weight: 700;
    color: white;
}

@mixin fontxxLarge {
    font-size: 60px;
    line-height: 1.15;
    font-weight: 500;
    color: white;
}

@mixin fonttituloLarge {
    font-size: 70px;
    line-height: 1.15;
    font-weight: 500;
    color: #0959F1;
}


